.Card{
  background: linear-gradient(135deg, #fbffc4, #fff9c8);
  box-shadow: 0px 4px 4px #0000001c;
  font-family: 'Raleway', cursive;
  height: 12em;
  padding: 2em;
  position: absolute;
  width: 12em;
}